*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
padding: 28px 60px;
}

.header-links {
    color:black;
    text-decoration: none;
}

.header-list {
 list-style: none; 
 display: flex; 
 gap: 32px; 
}
.header-nav{
    display: flex;
    justify-content: end;
}
body{
    font-size: 20px;
}
