*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
padding: 28px 60px;
}

.header-link {
    color:black;
    text-decoration: none;
}

.header-list {
 list-style: none; 
 display: flex; 
 gap: 32px; 
}
.header-nav{
    display: flex;
    justify-content: end;
}

@media screen and (max-width: 600px){
.header{padding: 14px 13px;}
}

.header-list{
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.first {
    padding-top: 127px;
    padding-bottom: 68px;
}
body{
    font-size: 20px;
}
.first__description{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: sart;
}
.first__container{
    max-width: 856px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* works */
.works {
    padding: 0;
}
.works__container {
    width: calc(100% - 60px * 2);
    max-width: 856px;
    margin: 0 auto;
}

.works__item {
    display: flex;
    gap: 18px;
     margin-bottom: 32px;
     border-bottom: 1px solid #e0e0e0;
     padding-bottom: 32px;
}
.works__info {
    display: flex;
    gap: 26px;
}
.works__title {
    font-size: 22px;
    font-weight: 400;
    color: #21243d;
     margin-bottom: 22px;
}
.works__caption {
font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #21243d;  
    margin-bottom: 16px;  
}
.works__label, .works__year {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    color: #e0e0e0;
}
.works__year {
    background-color: #142850;
}
.works__image {
  position: relative;   
}
.works__label {
    background-color: #ff6464;
    position: absolute;
    top: 7px;
    left: 6px;
}
.works__text {
    font-size: 16px;
    color: #21243d;
}
.works__img {
border-radius: 6px;
width: 246px;
height: 180px;
object-fit: cover; 
display: block;   
}
@media screen and (max-width: 720px) {
.works__img {
width: 200px;
height: 150px;
}  
.works__caption {
    font-size: 24px;
} 
}

@media screen and (max-width: 600px) { 
.works__container {
    width: calc(100% - 30px * 2);
} 
.works__item {

}
.works__img {
    
}
}
/* works */
